#display{
margin-top:850px;
margin-left:0px;
Font:36pt Tahoma;
color:#ffffff;
background-image: url('images/lowerthird.png');
background-repeat:no-repeat;
height:140px;
width:818px;
padding-top:30px;
padding-left:10px;
}

body{
background-color:#66cc00;
padding:0px;
margin:0px;
}

textarea:focus, input:focus{
    outline: none;
}
*:focus {
    outline: none;
}

input{
cursor:none !important;
border:0px;
color:transparent;
background:transparent;
}

#gradtext{
margin-top:30px;
-webkit-animation-duration: .5s;

}
